---
import Features from "@/components/astro/Features.astro"
import Footer from "@/components/astro/Footer.astro"
import Guarantee from "@/components/astro/Guarantee.astro"
import Hero from "@/components/astro/Hero.astro"
import { Header } from "@/components/react/Header"
import { ProductSection } from "@/components/react/ProductSection"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="flex min-h-screen flex-col font-sans">
    <Header client:load />
    <main class="flex-grow">
      <Hero />
      <div
        class="bg-accent-red py-3 text-center text-sm font-bold tracking-wide text-white uppercase"
      >
        Holiday Sale - 50% Off
      </div>
      <Features />
      <ProductSection client:load />
      <Guarantee />
    </main>
    <Footer />
  </div>
</BaseLayout>
